<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title></title>
</head>
<body>
	<div th:fragment="folderStructure (rootFolder)">
		<ul>
			<li th:text="${rootFolder.name}"></li>
			<li th:unless="${#lists.isEmpty(rootFolder.childFolders)}" th:each="folder : ${rootFolder.childFolders}">
				<div th:insert="~{this :: folderStructure (${folder})}"></div>
			</li>
			<li th:unless="${#lists.isEmpty(rootFolder.articles)}">
				<ul th:each="article : ${rootFolder.articles}">
					<li th:text="${article.title}"></li>
				</ul>
			</li>
		</ul>
	</div>
</body>
</html>