<!doctype html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<th:block th:insert="~{@{/faviconTemplate} :: favicon}"></th:block>
	<link rel="stylesheet" th:href="@{/css/style.css}" />	
	<link rel="stylesheet" th:href="@{/css/tileMapCreator.css}" />
	<link rel="stylesheet" th:href="@{/css/utils.css}" />
	<title>Dungeon Notes</title>
</head>
<body>
	<div class="d-flex d-flex-row vh-100">
		<div id="viewport">
			<div id="tile-map" th:attr="data-width=${tileMap.width}" onclick="onTileMapClick(event)">
				<div class="tile" th:each="tileData : ${tileMapData}" th:attr="data-tile-type=${tileData}"></div>	
			</div>
		</div>
		<aside class="vw-25 sidebar">
			<form id="save-map" action="/world/save-tile-map" method="POST">
				<input type="text" name="mapName" placeholder="Map name...." th:attr="value=${tileMap.name}"/>
			</form>
			<div id="grid-details">
				<input id="gridWidthInput" type="number"/>
				<input id="gridHeightInput" type="number"/>
				<input id="zoomInput" type="number" value="1.0" step="0.2" min="0.2"/>
			</div>
			<select name="toolSelect" id="toolSelect">
				<option value="SINGLE">Single</option>
				<option value="LINE">Line</option>
				<option value="RECT">Rectangle</option>
				<option value="CIRC">Circle</option>
				<option value="FILLRECT">Filled Rectangle</option>
				<option value="FILLCIRC">Filled Circle</option>
			</select>
			
			<select name="brushSelect" id="brushSelect">
			</select>
			
			<input type="submit" value="Save Changes" form="save-map"/>
		</aside>
	</div>
	<script type="text/javascript" th:src="@{/js/tileMapTools.js}"></script>
	<script type="text/javascript" th:src="@{/js/tileMapLoadAndSave.js}"></script>
	<script type="text/javascript" th:src="@{/js/tileMapCamera.js}"></script>
</body>
</html>