<!doctype html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<th:block th:insert="~{@{/faviconTemplate} :: favicon}"></th:block>
	<script src="https://kit.fontawesome.com/e6f5881f14.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" th:href="@{/css/style.css}" />	
	<link rel="stylesheet" th:href="@{/css/tileMapCreator.css}" />
	<link rel="stylesheet" th:href="@{/css/utils.css}" />
	<title>Dungeon Notes</title>
</head>
<body>
	<div class="d-flex d-flex-row vh-100">
		<div id="viewport">
			<div id="tile-map" th:attr="data-width=${tileMap.width}" onclick="onTileMapClick(event)">
				<div class="tile" th:each="tileData : ${tileMapData}" th:attr="data-tile-type=${tileData}"></div>	
			</div>
		</div>
		<aside class="vw-25 sidebar">
			<form id="save-map" action="/world/save-tile-map" method="POST">
				<input type="text" name="mapName" placeholder="Map name...." th:attr="value=${tileMap.name}"/>
			</form>
			<div id="grid-details">
				<div class="grid-alter-div">
					<p>Grid Dimensions</p>
					<div style="width: inherit">
						<label for="grid-dims-x">X:</label>				
						<input name="grid-dims-x" id="gridWidthInput" type="number"/>
						<label for="grid-dims-y">Y:</label>
						<input name="grid-dims-y" id="gridHeightInput" type="number"/>
					</div>
				</div>
				<div class="grid-alter-div">
					<label for="zoomInput">Zoom:</label>
					<input name="zoomInput" id="zoomInput" type="number" value="1.0" step="0.05" min="0.2"/>
				</div>
			</div>
			<div id="tool-button-div">
				<button id="circle-button" class="tool-button"><i class="fa-regular fa-circle"></i></button>
				<button id="filled-circle-button" class="tool-button"><i class="fa-solid fa-circle"></i></button>
				<button id="rectangle-button" class="tool-button"><i class="fa-regular fa-square"></i></button>
				<button id="filled-rectangle-button" class="tool-button selected"><i class="fa-solid fa-grip"></i></button>
				<button id="single-button" class="tool-button"><i class="fa-solid fa-square"></i></button>
				<button id="line-button" class="tool-button"><i class="fa-solid fa-slash"></i></button>
			</div>
			<div id="brush-select-div">
				<details id="standard" open="">
					<summary>Standard</summary>
				</details>
				<details id="natural">
					<summary>Natural</summary>
				</details>
				<details id="special">
					<summary>Special</summary>
				</details>
			</div>
			
			<input type="submit" value="Save Changes" form="save-map"/>
		</aside>
	</div>
	<script type="text/javascript" th:src="@{/js/tileMapTools.js}"></script>
	<script type="text/javascript" th:src="@{/js/tileMapLoadAndSave.js}"></script>
	<script type="text/javascript" th:src="@{/js/tileMapCamera.js}"></script>
</body>
</html>