<!doctype html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<link rel="stylesheet" th:href="@{/css/world.css}" />
	<title>Dungeon Notes</title>
</head>
<body>

	<div class="container">
		<h1 th:text="${world.name}"></h1>
		<form action="#" th:action="@{|/world/${world.id}/update|}" th:method="put" th:object="${world}">
			<input type="hidden" th:field="*{id}"/>
			<input type="hidden" th:field="*{rootFolder}"/>
			<p class="input-error" th:if="${#fields.hasErrors('*')}" th:errors="*{*}"></p>
			<input type="text" th:field="*{name}"/>
			<button>Change Name</button>
		</form>
		<!-- Delete Form -->
		<form action="#" th:action="@{|/world/${world.id}/delete|}" th:method="delete">
			<button>Delete World</button>
		</form>
		<!-- Fragment that recursively displays the folder structure -->
		<div class="folder-structure" th:insert="~{@{/world_templates/fileStructure} :: folderStructure (${world.rootFolder})}"></div>
		<div id="add-folder">
			<form action="#" th:action="@{|/world/${world.id}/add-folder|}" th:method="post" th:object="${newFolder}">
				<input type="hidden" th:field="*{id}"/>
				<select th:field="*{parentFolder}" th:insert="~{@{/world_templates/selectFile} :: selectFolder (${world.rootFolder})}"></select>
				<p class="input-error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
				<input type="text" th:field="*{name}" value=""/>
				<button>Add Folder</button>
			</form>
		</div>
	</div>
</body>
</html>