# Comments are provided throughout this file to help you get started.
# If you need more help, visit the Docker Compose reference guide at
# https://docs.docker.com/go/compose-spec-reference/

# Here the instructions define your application as a service called "server".
# This service is built from the Dockerfile in the current directory.
# You can add other services your application may depend on here, such as a
# database or a cache. For examples, see the Awesome Compose repository:
# https://github.com/docker/awesome-compose
services: 
  db:
    image: mysql:8
    volumes:
      - my-db-volume:/var/lib/mysql
    environment:
      MYSQL_USER: myuser
      MYSQL_PASSWORD: secret
      MYSQL_ROOT_PASSWORD: my-secret-pw
      MYSQL_DATABASE: mydb
    ports: 
      - 3307:3306
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10
  dungeonnotes-app:
    image: dungeonnotes-app:latest
    ports:
      - 8080:8080
    depends_on: 
      db:
        condition: service_healthy
    environment:
      spring.datasource.url: "jdbc:mysql://db:3306/mydb"
      spring.datasource.username: root
      spring.datasource.password: my-secret-pw
      spring.jpa.hibernate.ddl-auto: update
      spring.datasource.driver-class-name: com.mysql.cj.jdbc.Driver

      spring.thymeleaf.check-template-location: false
      spring.jpa.open-in-view: true

      spring.sql.init.mode: always

      spring.mvc.hiddenmethod.filter.enabled: true

volumes:
  my-db-volume:

# The commented out section below is an example of how to define a PostgreSQL
# database that your application can use. `depends_on` tells Docker Compose to
# start the database before your application. The `db-data` volume persists the
# database data between container restarts. The `db-password` secret is used
# to set the database password. You must create `db/password.txt` and add
# a password of your choosing to it before running `docker-compose up`.
#     depends_on:
#       db:
#         condition: service_healthy
#   db:
#     image: postgres
#     restart: always
#     user: postgres
#     secrets:
#       - db-password
#     volumes:
#       - db-data:/var/lib/postgresql/data
#     environment:
#       - POSTGRES_DB=example
#       - POSTGRES_PASSWORD_FILE=/run/secrets/db-password
#     expose:
#       - 5432
#     healthcheck:
#       test: [ "CMD", "pg_isready" ]
#       interval: 10s
#       timeout: 5s
#       retries: 5
# volumes:
#   db-data:
# secrets:
#   db-password:
#     file: db/password.txt

