@import url("/css/utils.css");

@font-face {
	font-family: vollkorn;
	src: url(/fonts/vollkorn-font/VollkornRegular-ZVJEZ.otf);
}

/*	 Remove default margins and padding	*/
* {
	margin: 0px;
	padding: 0px;
}


/* CSS HEX */
:root {
	/*	 Color Palette	*/
	--prussian-blue: #003049ff;
	--fire-engine-red: #d62828ff;
	--orange-wheel: #f77f00ff;
	--xanthous: #fcbf49ff;
	--vanilla: #eae2b7ff;
	/*	 Alt Color Palette for different element states   */
	--active-fire-engine: rgb(138, 26, 26);
	--active-vanilla: rgb(224, 214, 150);
	/*	 Box Shadow Palettes	*/
	--prussian-blue-shadow: rgb(0, 23, 36);
	
	font-family: vollkorn;
}

body {
	max-width: 100vw;
	
	background-color: var(--prussian-blue);
	color: var(--vanilla);
	font-size: 24px;
}

/*	 Container Styling	
	
	The "container" class applies turns divs into flexbox elements with no justification or alignment
	so that child elements can easily be aligned to one side or the other on the template
*/

.container {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-content: start;
	align-items: start;
	max-width: 98vw;
	padding: 1vw;
}

.content {
	padding: 5vh;
	
	width: calc(100% - 10vh);
	background-color: var(--prussian-blue-shadow);
}

div.hidden-div {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.75);
}

/*	 Sidebar Styling	*/

aside.sidebar {
	background-color: var(--prussian-blue-shadow);
	height: calc(100% - 2vw);	
	width: 15vw;
	padding: 1vw;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/*	 UL and OL Styling	*/

ul {
	margin-left: 25px;
}

/*	 Anchor Tag Styling	*/

a:link {
	color: var(--xanthous);	
}

a:hover {
	color: var(--orange-wheel);
}

a:active {
	color: var(--xanthous);
}

a:visited {
	color: var(--xanthous);
}

a:visited:hover {
	color: var(--orange-wheel);
}

a:visited:active {
	color: var(--vanilla);
}

/*	 Anchor Tags Styled as Buttons	*/

a.btn {
	background-color: var(--active-fire-engine);
	color: var(--vanilla);
	padding: 5px;
	border-radius: 5px;
	
	text-decoration: none;
}

a.btn:hover {
	color: var(--active-vanilla);
}

/*	 Button Styling	*/

input[type="submit"] {
	font-family: vollkorn;
	margin: 1em 0 1em 1em;
	padding: 5px;
	border-radius: 5px;
	background-color: var(--active-fire-engine);
	color: var(--vanilla);
}

input[type="submit"]:hover {
	color: var(--active-vanilla);
}

button {
	font-family: vollkorn;
	padding: 5px;
	border-radius: 5px;
	background-color: var(--active-fire-engine);
	color: var(--vanilla);
}

button:hover {
	color: var(--active-vanilla);
}

/*	Navbar styling  */

.navbar {
	padding: 2vh;
	height: 6vh;
	width: calc(100% - 4vh);
	
	background-color: rgb(30, 30, 30);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar :is(.navbar-right, .navbar-center, .navbar-left) {
	width: 33%;
	height: 100%;
	
	display: flex;
	align-items: center;
	gap: 5px;
}

.navbar .navbar-right {
	justify-content: end;
}

.navbar .navbar-left {
	justify-content: start;
}

.navbar .navbar-center {
	justify-content: space-around;
}

:is(.navbar-left, .navbar-center, .navbar-right) > *{
	height: 100%;
}

.navbar-right > :is(i, a.btn, button), .navbar-center > :is(i, a.btn, button), .navbar-left > :is(i, a.btn, button) {
	height: auto;
}

/*	 Form Styling	*/

.form-div {
	align-self: center;
	margin: 2em;
	padding: 15px;
	border-radius: 5px;
	background-color: var(--prussian-blue-shadow);
	width: 30%;
}

.form-div>p {
	font-size: 32px;
	margin: 10px;
}

form {	
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

form label {
	font-size: 20px;
}

form input, form select {
	height: 30px;
	border-radius: 5px;
	border: none;
	padding: 5px;
}

div.input-div {
	display: flex;
	width: 80%;
	gap: 5px;
	justify-content: space-between;
	align-items: center;
}

form .form-footer {
	width: 75%;
	margin-top: 15px;
	
	display: flex;
	justify-content: space-between;
}

form button {
	min-width: 15%;
}

form p.input-error {
	color: var(--fire-engine-red);
	font-size: 14px;
	align-self: start;
}

form.world-search-form {
	width: 100%;	
	flex-direction: row;
}

.world-search {
	width: 75%;
}

/*	 Card Styling	*/

.card-list-div {
	width: 75%;
	padding: 2em;
}

.card {
	margin: 1em;
	width: 60%;
	border-radius: 15px;
	background-color: var(--prussian-blue-shadow);
}

.card-header {
	padding: 0.5em;
}

.card-content {
	padding: 0.5em;
	border-radius: 0 0 15px 15px;
	color: var(--prussian-blue);
	background-color: var(--vanilla);
}