#tile-map {
	background: black;
	font-size: 0;
}
#viewport {
	width: 75%;
	height: 100%;
	overflow: auto;
}

.tile {
	display: inline-block;
	background-image: url("/imgs/Spritesheet.png");
	background-repeat: no-repeat;
	background-position: -225px -225px;
	background-size: 250px 250px;
	width: 25px;
	height: 25px;
	margin: 1px;
}

.add-minus-input {
	border-radius: 5px;
}

form#save-map input {
	width: 80%;
}

form#save-map input, .grid-alter-div input {
	background-color: #000b11;
	color: var(--vanilla);
}
	
.grid-alter-div {
	margin: 0px auto;
	width: 50%;
}

.grid-alter-div input {
	width: 30%;
	height: 15px;
}

.tool-button {
	background-color: white;
	width: 3em;
}

button.selected {
	background-color: gray;
}

i {
	color: var(--prussian-blue);
}

.box-shadow {
	margin: 0px 4px;
	box-shadow: 3px 3px black;
}