#tile-map {
	background: black;
	font-size: 0;
}
#viewport {
	width: 75%;
	height: 100%;
	overflow: auto;
}

div.tile {
	display: inline-block;
	background-image: url("/imgs/Spritesheet.png");
	background-repeat: no-repeat;
	background-position: -225px -225px;
	background-size: 250px 250px;
	width: 25px;
	height: 25px;
	margin: 1px;
}

.add-minus-input {
	border-radius: 5px;
}