@charset "ISO-8859-1";

* {
	margin: 0px;
	padding: 0px;
}

#dungeon-window {
	width: 60vw;
	height: 80vh;
	background-color: white;
	overflow: hidden;
	
	border: 2px solid blue;
	
	margin: 20px;
}

#tile-map {
	display: grid;
	grid-template-columns: auto;
	justify-content: start;
	
	position:relative;
}

.tile {
	background-color: black;
}