<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<title>Homepage</title>
</head>
<body>
	<div class="container">
		<nav class="navbar">
			<a class="btn" href="/logout">Logout</a>
		</nav>
		<h1>Homepage</h1>
		<ul th:each="world : ${userWorlds}">
			<li><a th:href="@{|/world/${world.id}|}" th:text="${world.name}"></a></li>
		</ul>
		<a class="btn" href="/world/new">New World</a>
	</div>
</body>
