<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<th:block th:insert="~{@{/faviconTemplate} :: favicon}"></th:block>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title>Homepage</title>
</head>
<body>
	<nav class="navbar">
		<div class="navbar-left"></div>
		<div class="navbar-center">
			<form action="/world/search" method="POST" class="world-search-form">
				<input type="search" name="search-text" class="world-search" placeholder="Explore other worlds..."/>
			</form>
		</div>
		<div class="navbar-right">
			<a class="btn" href="/logout">Logout</a>
		</div>
	</nav>
	<div class="container">
		<h1>Your Worlds</h1>
		<div class="card-list-div">
			<div class="card" th:each="world : ${userWorlds}">
				<div class="card-header"><a th:href="@{|/world?world-id=${world.id}|}" th:text="${world.name}"></a></div>
				<div class="card-content" th:text="${world.description}"></div>	
			</div>
		</div>
		<a class="btn" href="/world/new">New World</a>
	</div>
</body>
