<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" th:href="@{/css/style.css}"></link>
<link rel="stylesheet" th:href="@{/css/landingPage.css}" />
<title>Dungeon Notes</title>
</head>
<body>			
	<nav class="navbar">
		<div class="navbar-right">
			<a href="/register" class="btn">Register</a>
			<a href="/login" class="btn">Login</a>
		</div>
	</nav>
	<div class="container">
		<header class="page-header">
			<h1>Dungeon Notes</h1>
		</header>
	</div>
</body>
</html>