<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
	<link rel="stylesheet" th:href="@{/css/register_and_login.css}" />
	<title>Dungeon Notes</title>
</head>
<body>
	<div class="container">
		<div class="form-div">
			<p>Register New User</p>
			<form action="#" th:action="@{/register}" method="POST" th:object="${user}">
				<p class="input-error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
				<input type="text" th:field="*{username}" placeholder="Username"/>
				<p class="input-error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
				<input type="email" th:field="*{email}" placeholder="Email Address"/>
				<p class="input-error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
				<input type="password" th:field="*{password}" placeholder="Password"/>
				<input type="password" th:field="*{confirm}" placeholder="Confirm Password"/>
				<div class="form-footer">
					<button>Register</button>
					<a href="/login">Already a user?</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>